@font-face 
{
    font-family: 'Vogie';
    src: url('/fonts/Vogie/Vogie-Regular.otf') ;
}


body {
font-family: Vogie !important;
background-color: #151426;
overscroll-behavior: none;
overflow-x: hidden;
}
main{

    top: 0;
    left: 0;
    width: 100%;

}
#main-menu a{
    color: #151426;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-mobile{
    display: none;
}
.button-contact
{
    padding: 16px 40px;
    justify-content: center;
    border: none;
    border-radius: 24px;
    background-color: #AA83FF;
    color: #FFF;
    font-family: Vogie;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.button-language{

    width: 85px;
    height: 85px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    background: #AA83FF;
    color: #FFF;
    text-align: center;
    font-family: Vogie;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;

}
.sections{
    padding: 64px 56px;
}
.sections span{
    color:#AA83FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.text-we{

    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}
.section-we{
    margin-top: 64px;
}
.section-creemos{
    background-image:url('img/fondo-1.png');
    background-position: center;
    background-size: 1236px; 
    background-repeat: no-repeat;

}
.section-creemos h3{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-creemos p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.services {
    display: flex;
    position: relative;
    width: fit-content;
    transform: translateX(0); /* Inicialmente, sin desplazamiento */
    transition: transform 0.3s ease; /* Transición suave */

     
}

.servicestow {
    display: flex;
    position: relative;
    width: fit-content;
    transform: translateX(0); /* Inicialmente, sin desplazamiento */
    transition: transform 0.3s ease; /* Transición suave */

     
}

.item {
    flex: 0 0 auto;
}
.element {
    display: flex;
    align-items: center;
    margin: 10px;
}


.text {
    color: #FFF!important;
    font-size: 40px!important;
    font-style: normal!important;
    font-weight: 700!important;
    line-height: 24px!important;
}

.fila-formulario
{
    border-radius: 64px;
    background-color: #AA83FF;
    padding: 84px 169px;
}
.input-formulario{
    background: border-box;
    margin-top: 8px;
    border-radius: 24px;
    border: 1px solid #FFF;
}
.button-formulario{
    margin-top: 32px;
    padding: 16px 40px;
    border-radius: 24px;
    background-color: #78FFAD;
    width: 100%;
    border: none;
    color: #151426;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.button-video{
    padding: 24px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 88px;
    background:#AA83FF;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border:none;

}
.img-right{
    text-align: right;
}
.img-left{
    text-align:left; 
    margin-left:31px
}
.francisco-img{
    margin-top: 31px;
}

.freddy-img{
    margin-top: 31px;
}
.figura-abs{
    text-align: right;
}
.title-creemos{
    margin-top:150px;
}
.text-creemos{
    margin-top:64px
}

.services-mobile{
   display: none;
}
#animacion-1{
    z-index: -1;
}

.sections-form{
    padding: 64px 56px;
}
.text-footer{
    color: #FFFFFF; 
    margin:auto; 
    text-align: right;
    font-size: 24px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 16px;
}
/*Responsive*/

@media only screen and (max-width: 720px){
    .sections{
        padding: 30px 16px;
    }
    .sections-form{
        padding: 0;
    }

    .text-we{
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 38px;
    }
    .diego-img{
        width: 145px;
    }
    .francisco-img{
        width: 168px;
        margin-top: 22px;
    }
    .steffani-img{
        width: 168px;
    }
    .freddy-img{
        width: 98px;
        margin-top: 22px;
    }
    .img-left{
        text-align: right;
        margin-left: 0;
    }
    .img-right{
        text-align: center;
    }
    .figura-abs{
        display: none;
    }
    .title-creemos{
        margin-top:38px;
    }
    .section-creemos{
        background-image: none;
    }
    .section-creemos p{
        font-size: 28px;
    }
    .section-creemos br{
        display: none;
    }
    .text-creemos{
        margin-top:0;
    }
    .section-creemos h3{
        
        font-size: 36px;
    }
    .services{
        display: none;
    }
    .services-mobile{
        display: block;
        text-align: center;
        margin-top: 50px;
    }
    .fila-formulario
    {
        padding: 40px 10px;
        margin: auto;
        border-radius: 0%;

    }
    .menu-desktop{
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .button-language{
        width: auto;
        height: auto;
        padding: 23px 20px;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 40px;
        font-size: 24px;
    }

    .img-footer{
        text-align: center;

    }
    .text-footer{
        text-align: center;
    }
} 